.quadro {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(53, 154, 40);
    justify-content: space-between;
    height: 97vh;
}

.drag {
    padding-top: 100px;
    background-color: pink;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.function {
    padding: 3px 18px;
    background-color: green;
    cursor: pointer;
}

.function p {
    margin: 0;
}