.react-flow__node-selectorNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.react-flow__node-custom,
.react-flow__node-slider,
.react-flow__node-number {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.container {
  height: 86vh;
  width: 100vw;

}